.select2-container--default .select2-selection--single {
    background-color: #343A40 ;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-selection--multiple {
    background-color: #343A40 ;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #0074F0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: solid #80bdff 1px;
}

